{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="row my-4">
    <div class="col-md-8 mx-auto">
        <div class="card">
            <div class="card-header">Create new Post</div>
            <div class="card-body">
                {{ form_start(form) }}

                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
